
[V200R003C00]
#
 sysname AR1
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2000  
 rule 5 permit source 192.168.10.0 0.0.0.255 
 rule 10 permit source 192.168.20.0 0.0.0.255 
 rule 15 permit source 192.168.30.0 0.0.0.255 
 rule 20 permit source 192.168.40.0 0.0.0.255 
 rule 25 permit source 192.168.70.0 0.0.0.255 
 rule 30 permit source 192.168.100.0 0.0.0.255 
#
acl number 3000  
 rule 5 deny ip source 192.168.50.0 0.0.0.255 
 rule 10 permit ip 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 203.0.113.2 255.255.255.252 
 nat outbound 2000
#
interface GigabitEthernet0/0/1
 traffic-filter inbound acl 3000
#
interface GigabitEthernet0/0/1.82
 dot1q termination vid 82
 ip address 10.0.2.1 255.255.255.252 
 traffic-filter inbound acl 3000
 arp broadcast enable
#
interface GigabitEthernet0/0/2
 traffic-filter inbound acl 3000
#
interface GigabitEthernet0/0/2.83
 dot1q termination vid 83
 ip address 10.0.2.5 255.255.255.252 
 traffic-filter inbound acl 3000
 arp broadcast enable
#
interface GigabitEthernet4/0/0
 ip address 10.0.4.1 255.255.255.252 
#
interface GigabitEthernet4/0/1
 ip address 10.0.4.5 255.255.255.252 
#
interface GigabitEthernet4/0/2
#
interface GigabitEthernet4/0/3
#
interface NULL0
#
ospf 1 router-id 1.1.1.1 
 default-route-advertise always
 area 0.0.0.0 
  network 10.0.2.0 0.0.0.3 
  network 10.0.2.4 0.0.0.3 
  network 10.0.4.0 0.0.0.3 
  network 10.0.4.4 0.0.0.3 
#
ip route-static 0.0.0.0 0.0.0.0 203.0.113.1
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return